<style>
  .logo-footer {
    max-height: 100px;
  }
</style>
<div class="bg-primary text-white py-3" data-bs-theme="dark">
  <div class="row d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center">
      <span>A project in collaboration with</span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-3 d-flex justify-content-center">
      <img
        src="logo-placeholder.jpg"
        class="img-fluid p-2 logo-footer"
        alt="logo"
      />
    </div>
    <div class="col-12 col-sm-3 d-flex justify-content-center">
      <img
        src="logo-placeholder.jpg"
        class="img-fluid p-2 logo-footer"
        alt="logo"
      />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center">
      <span>Lorem ipsum dolor sit amet.</span>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span>2024-2025</span>
    </div>
  </div>
</div>
