<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <header >
        <%- include('partials/navbar'); %>
    </header>

    <main class='text-primary p-5' style="max-width: 800px;">
        <h2>What is MyClimate?</h2>

            <p>MyClimate is a web app designed to improve access to climate
            data and predictions.</p>

            <p> Scientists are constantly measuring climate and making
            predictions about the future, but their results are mostly kept in
            technical products that can be difficult to access or interpret.
            To better understand how climate change can affect <strong>YOU</strong>
            and your part of the world, MyClimate gives predictions about your home,
            or any other part of Australia.</p>
           
        <h2>How does it work?</h2>
            
            <p>MyClimate uses the latest climate models to predict how
            climate change will affect different parts of Australia.</p>

            <p>It uses data from the latest models published by scientists and
            scientific institutions. Information about the data sources can be
            found here.</p>

            <p>Our algorithms to estimate change in livability and potential
            damage from climate change are open source and can be
            viewed here.</p>

        <h2>What can I do about climate change?</h2>
            
            <p><a href="/other-page">This page</a> contains links to resources about what you can do to
            help curb climate change.</p>

            <p>You can also sign our <a ref="">e-petition</a> which will be sent to the
            Australian Government to demand urgent action on greenhouse
            gas emissions.</p>


    </main>




</body>

</html>