<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head-index') %>
</head>

<body>

    <header class="border-bottom border-white">
        <%- include('partials/navbar', {homeURL: homeURL}); %>
    </header>

    <main class='p-5' style="max-width: 800px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ex sagittis, iaculis mi non, finibus lacus.
            Sed pellentesque auctor vehicula. Sed eu erat a turpis faucibus imperdiet. Sed lobortis ipsum in tincidunt
            convallis. Etiam tempor bibendum ligula, vitae tempor neque pulvinar sit amet. Etiam turpis tellus, varius
            et venenatis in, ornare vitae sem. Aenean in nibh non massa posuere semper. Aenean pretium eros eros, id
            congue felis ultrices et. Duis cursus faucibus velit, finibus ultrices ipsum rutrum in. Nunc eu commodo
            tortor. Etiam consectetur erat orci, vel interdum arcu ullamcorper non. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ultrices at lectus feugiat vulputate.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam rutrum
            tristique feugiat.</p>

        <p>>Curabitur fringilla eu est vel tempus. Fusce lorem ipsum, dictum vitae magna in, egestas pretium augue.
            Donec imperdiet leo quis lacus accumsan ultrices. Donec sit amet semper lorem. Morbi mattis risus et arcu
            aliquet semper. Donec fringilla risus ac mi ultricies, sed mollis nisl convallis. Ut sit amet tempor ligula,
            vitae pretium dui. Proin sapien risus, tempor ut posuere a, mollis ut felis. Sed in commodo justo. Sed
            vulputate vehicula tincidunt.</p>

        <p>Sed suscipit mollis est, a sagittis tortor fringilla non. Sed hendrerit purus mi, nec fermentum ex ultricies
            ac. Vivamus sit amet quam placerat metus auctor suscipit at vel lectus. Quisque vehicula ipsum in euismod
            semper. Ut a est ut ex consequat pharetra ut eu est. Curabitur vel varius libero. Praesent fringilla ante
            ante, nec tincidunt orci pulvinar nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia curae; Quisque non purus at sem mollis dictum. Pellentesque ut lacus dui. Vivamus tincidunt
            enim id est accumsan vestibulum.</p>

    </main>




</body>

</html>