<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head-index') %>
</head>

<body>

    <header class="border-bottom border-white">
        <%- include('partials/navbar'); %>
    </header>

    <main class='p-5' style="max-width: 800px;">
        <h2>Is climate change real?</h2>
        
        <a href="https://zacklabe.com/climate-change-indicators/">
            <img class='img-800 v-margins-30' src="https://zacklabe.com/wp-content/uploads/2025/01/gmst_preindustrial_noaa_landoceancomparison_1850-2025.png" alt="Description of Image">
        </a>


    </main>



    


</body>

</html>