<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <header class="border-bottom border-white">
        <%- include('partials/navbar', {homeURL: homeURL}); %>
    </header>

    <main>
        <p>TEMPLATE</p>
    </main>

    


</body>

</html>