<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <header>
        <%- include('partials/navbar'); %>
    </header>

    <main class='text-primary p-5' style="max-width: 800px;">

        <p>Politics</p>
        


    </main>



    


</body>

</html>