html {
    overflow: hidden;
    /* Disables scrolling completely */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* Optional transition */
}

body {
    overflow: auto;
    /* Enables scrolling on the body */
    scrollbar-width: none;
    /* Hides scrollbar in Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Webkit-based browsers */
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(255, 255, 255, .50)), url('images/cloud-background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: white;
}

main {
    max-width: 1000px;
    margin: auto;
}

.main-home {
    height: calc(100vh - 72px);
}

.bg-trans {
    background: rgba(255, 255, 255, 0.125);
}


.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.img-800 {
    width: 100%;
    max-width: 800px;
}

.v-margins-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 576px) {
    .overview-text {
        text-align: left;
    }

    .overview-value {
        text-align: right;
    }
}
